#topscreen{
  width:162px;
  height:40px;
  font-size: 20px;
  background-color: #1a1a1a;
  color:white;
  text-align: right;
  line-height: 1.7;
  padding-right: 10px;
  margin-left: 3px
}

.No,#NoP,#NoN,#NoA,#No0,#No00,#NoD,#NoS{
  width: 40px;
  height:25px;
}

#NoAC,#NoE{
  width:80px;
  height:25px
}